h1{
    margin: 0;
    padding-bottom: 15px;
    background-color: rgb(69, 69, 231);
}
div{
    margin: 0;
    padding-bottom: 15px;
    background-color: rgb(133, 133, 139);
}
p{
    margin: 0;
    padding-bottom: 15px;
    background-color: lightblue;
}